%form{:method => "post", :action => "/new-todo", :class => "field has-addons has-addons-centered"}
  %p.control
    %input{:type => "text", :name =>"todo", :placeholder => "Task title", :class => "input"}
  %p.control
    %input{:type => "submit", :value => "Add Task", :class => "button is-primary"}
